<div class="container">
  <h2 class="title"> {{"KYC Details" | translate}}</h2>
  <form [formGroup]="kycDetails" (ngSubmit)="kycSave(kycDetails.value)">
    <div class="item">
      <!-- <ion-card class="ccardkyc" justify-content-center align-items-center>
        <span class="titlesize">
          <b>{{"IDENTITY PROOF" | translate}}</b>
        </span>
      </ion-card> -->
    </div>

    <div class="item">
      <ion-item>
        <ion-label>{{"Choose Proof Type" | translate}}<span class="mandatory">*</span>
        </ion-label>
        <ion-select formControlName="proofType" interface="popover">
          <ion-select-option *ngFor="let type of kycProofType" [value]="type.code"> {{type.Name | translate}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <div>
        <ng-container *ngFor="let validation of errorMessage.proofType">
          <div class="mandatory"
            *ngIf="kycDetails.get('proofType').hasError(validation.type) && (kycDetails.get('proofType').dirty || kycDetails.get('proofType').touched)">
            <p class="errText marginLR0pxTB5px">{{validation.message | translate}}</p>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="item">
      <ion-item>
        <ion-label>{{"Choose Proof Document" | translate}}<span class="mandatory">*</span>
        </ion-label>
        <ion-select formControlName="proofDocument" interface="popover" (ionChange)="setValidation()">
          <ion-select-option *ngFor="let kycproof of kycproofList" [value]="kycproof.code">
            {{kycproof.Name | translate}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <div>
        <ng-container *ngFor="let validation of errorMessage.proofDocument">
          <div class="mandatory"
            *ngIf="kycDetails.get('proofDocument').hasError(validation.type) && (kycDetails.get('proofDocument').dirty || kycDetails.get('proofDocument').touched)">
            <p class="errText marginLR0pxTB5px">{{validation.message | translate}}</p>
          </div>
        </ng-container>
      </div>
    </div>


    <div class="item">
      <ion-item>
        <!--   <ion-label position="floating">Id Value<span class="mandatory">*</span>
        </ion-label> -->

        <ion-input type="text" formControlName="proofvalue" [placeholder]="'Enter Proof Value' | translate"></ion-input>
        <ion-icon name="images-outline" (click)="showScannerOption()"></ion-icon>
      </ion-item>

      <div>
        <ng-container *ngFor="let validation of errorMessage.proofvalue">
          <div class="mandatory"
            *ngIf="kycDetails.get('proofvalue').hasError(validation.type) && (kycDetails.get('proofvalue').dirty || kycDetails.get('proofvalue').touched)">
            <p class="errText marginLR0pxTB5px">{{validation.message | translate}}</p>
          </div>
        </ng-container>
      </div>
    </div>

    <app-kyc-scan-option [hidden]="hideScanOption" (_scanTypeSelected)="calAPIMethods($event)"></app-kyc-scan-option>


    <div class="item">
      <div class="buttspace roundbtn" class="ion-text-center">
        <ion-button [disabled]="kycDetails.invalid" type="submit" shape="round">{{"Save" | translate}} </ion-button>
      </div>
    </div>

  </form>
</div>