.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;

}

.progress_box {
    position: fixed;
    top: 16vh;
    left: 12vw;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    z-index: 100;
    transform: translate(2%, -12%);
    width: 70vw;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    border-radius: 20px;
}
