.title{
    text-align: center;
}

.closeBtn{
    font-size: 28px;
    position: absolute;
    right: 10px;
    bottom: 15px;
}


.cibilview div{
    line-height: 21px;
}
.cibilname {
    font-weight: bold;
    font-size: 15px;
    padding-left: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cibilapp {
    font-size: 12px;
    padding-left: 7px;
    font-weight: bold;
}
.cibilinfo {
    font-size: 12px;
    color: #467;
    padding-left: 7px;
}
.meter {
    margin: 0 auto;
    position: absolute;
    top: 3px;
    text-align: center;
    width: 100%;
}
.meter ion-icon{
    zoom: 2.5;
}
.meter ion-spinner{
    zoom: 1.5;
}
.btnres {
    position: absolute;
    top: 47px;
}

.progressbar
    {
      position: relative;
    //border:1px solid black;
    }

    .circleAnim_container {
        width: 100px;
        height: 50px;
        left:6vw;
        top:2vh;
      }
      .svg {
        fill: none;
        stroke: rgba(80,20,100,0.5);
        //background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
        stroke-width: 40;
        stroke-linecap: round;
        -webkit-filter: drop-shadow( -3px -2px 5px gray );
        filter: drop-shadow( 6px -2px 4px gray );
        }

        .flex-wrapper {
            display: flex;
            flex-flow: row nowrap;
          }
          .single-chart {
            width: 33%;
            position: absolute;
            left: 40%;
            top: -10px;
            justify-content: space-around ;
          }
          .circular-chart {
            display: block;
            margin: 10px auto;
            max-width: 80%;
            max-height: 250px;
          }
          .circle-bg {
            fill: none;
            stroke: #eee;
            stroke-width: 3.8;
          }
          .circle {
            fill: none;
            stroke-width: 2.8;
            stroke-linecap: round;
            animation: progress 5s ease-out forwards;
          }
          @keyframes progress {
            0% {
              stroke-dasharray: 0 100;
            }
          }
          .circular-chart.blue .circle {
            stroke: #3C9EE5;
          }
          .percentage {
            fill: #666;
            font-family: sans-serif;
            font-size: 0.5em;
            text-anchor: middle;
          }


