<ion-header>
  <ion-toolbar class="title">
    <ion-title>Cibil Check</ion-title>
    <ion-icon class="closeBtn" name="close-circle-outline" (click)="closeView()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="height: 130px;">
    <ion-grid>
      <ion-row>
        <ion-col class="cibilview">
          <div>
            <ion-icon name="person-outline"></ion-icon> <span class="cibilname">Karthick</span></div>
          <div>
            <ion-icon name="person-circle-outline"></ion-icon> <span class="cibilapp">Applicant</span></div>
          <div>
            <ion-icon name="call-outline"></ion-icon> <span class="cibilinfo">9626468953</span></div>
          <div>
            <ion-icon name="calendar-outline"></ion-icon> <span class="cibilinfo">13/06/2020</span></div>
        </ion-col>
        <ion-col class="ion-text-center">
          <div class="meter">
            <ion-icon *ngIf="!showMeter && !showProgress" name="speedometer-outline"></ion-icon>
            <ion-spinner *ngIf="showMeter && !showProgress" name="bubbles"></ion-spinner>
          </div>
          <div class="single-chart" *ngIf="showProgress">
            <svg viewBox="0 0 36 36" class="circular-chart blue">
              <path class="circle-bg"
                d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <path class="circle"
                stroke-dasharray="70, 100"
                d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.820"
              />
              <text x="18" y="20.35" class="percentage">70%</text>
            </svg>
          </div>
          <div class="btnres">
            <ion-button size="small" (click)="showMeter = !showMeter">Send Request</ion-button>
            <ion-button size="small" (click)="showProgress = true;">Check Response</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
