<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)='goBack()'>
      <ion-icon name="arrow-back" color="white" style="font-size:20px; margin-left:10px;"></ion-icon>
    </ion-buttons>
    <ion-title>{{"labelText.heading" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group (ionChange)="radioChange($event)">
      <ion-item>
        <ion-label>English</ion-label>
        <ion-radio slot="start" value="en"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>हिन्दी</ion-label>
        <ion-radio slot="start" value="hi"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <div style='text-align: center'>
      <ion-button type='button' icon-only shape="round" (click)='changeLanguage($event)' center>
        {{"labelText.btnText" | translate}}
      </ion-button>
    </div>
  </ion-list>
</ion-content>