.heading{
  text-align: center;
  margin-top: 1vh;
}
.sc-ion-buttons-md-h {
    display:block;
  }
  
  form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 10px;
  
  }
  
  .itemDividerHeading{
    width: 100%;
    margin: auto;
    text-align: center;
    // box-shadow: 6px 3px #b3aaaa;
    line-height: 5vh;
    background: #aaa5a1;
    color:white;
    font-size:18px;
    margin-top:10px;
  }
  
  
  .sc-ion-buttons-md-h {
  display:block;
  }
  
  
  .docUpload {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // align-content: space-around;
    // align-items: flex-start;
    // justify-content: flex-start;
  }
  .docImg {
    // width: 30vw;
    // height: 30vh;
    margin-top: 10px;
    position: relative;
  }
  .imgFooter {
    margin: 10px;
    position: absolute;
    bottom: 0;
    width: 90%;
  }
  .imgFooter ion-badge:first-child {
    float: left;
    zoom: 1.1;
  }
  .imgFooter ion-badge:last-child {
    float: right;
    zoom: 1.1;
  }
  
  @media only screen and (max-width: 420px) {
    .docImg {
      width: 46vw;
      height: 30vh;
      margin-top: 10px;
      margin-right: 0px;
      position: relative;
    }
  }
  
  
  .card_container{
    display:grid;
    grid-template-columns: auto auto;
  }
  
  .segbar{
    background: #017DC7;
    width: 100%;
    padding: 6px;
    height: auto;
    box-shadow: 5px 7px #d7d1d1;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .segbar span{
    color: white;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-right: 3px;
    text-align: center;
  }
  
  .segbarWrap{
    width: 100%;
    padding: 6px;
    height: auto;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    
  }
  
  .segbarWrap:nth-child(odd) {
    background: whitesmoke;
  }
  
  .segbarWrap span:nth-child(1) {
    flex: 1;
    margin-top: 0px;
    white-space: normal;
    font-size: 1rem;
  }
  .segbarWrap span:nth-child(2), .segbarWrap span:nth-child(3), .segbarWrap span:nth-child(4){
 flex: 0.5;
  }
  
  .segbarWrap span{
    color: #F33F26;
    // flex: 1;
    justify-content: center;
    align-items: center;
    padding-right: 3px;
    position: relative;
    // white-space: nowrap;
    overflow: hidden;
    // text-overflow: ellipsis;
    // padding-top: 5px;
    text-align: center;
  }
  
  .segbarbadge {
    color: white;
    font-size: 11px;
    border-radius: 100%;
    padding: 2px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    z-index: 2;
    background: #017DC7;
  }
  
  .textSize {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  text-align: left;
  color: #017DC7 !important;
  }
  
  @media only screen and (max-width: 412px) {
  .item.sc-ion-label-md-h,
  .item .sc-ion-label-md-h {
    font-size: 14px;
  }
  .segbarbadge{
    right: 17px;
  }
  .container{
    width: 95vw;
  }
  }
  @media only screen and (min-width: 413px) {
  .item.sc-ion-label-md-h,
  .item .sc-ion-label-md-h {
    font-size: 110%;
  }
  .segbarbadge{
    right: 50px;
  }
  .container{
    width: 95vw;
    height: 100vh;
  }
  }
  
  
  
  
  
