<ion-list *ngIf="filterCheck">
  <ion-item (click)="popoverClick('Y', 'filter')">
    <ion-icon *ngIf="filterTick == 'Y'" name="checkmark-circle-outline" class="greentik"></ion-icon>
    <ion-label>{{"Submitted" | translate}}</ion-label>
  </ion-item>
  <ion-item (click)="popoverClick('N','filter')">
    <ion-icon *ngIf="filterTick == 'N'" name="checkmark-circle-outline" class="greentik"></ion-icon>
    <ion-label>{{"Not Submitted" | translate}}</ion-label>
  </ion-item>
  <ion-item (click)="popoverClick('P','filter')">
    <ion-icon *ngIf="filterTick == 'P'" name="checkmark-circle-outline" class="greentik"></ion-icon>
    <ion-label>{{"Pending" | translate}}</ion-label>
  </ion-item>
  <ion-item (click)="popoverClick('A','filter')">
    <ion-icon *ngIf="filterTick == 'A'" name="checkmark-circle-outline" class="greentik"></ion-icon>
    <ion-label>{{"All" | translate}}</ion-label>
  </ion-item>
</ion-list>


<ion-list *ngIf="sortCheck">
  <ion-item (click)="popoverClick('ascending','sort')">
    <ion-icon *ngIf="sortTick == 'ascending'" name="checkmark-circle-outline" class="greentik"></ion-icon>
    <ion-label>{{"A to Z" | translate}}</ion-label>
  </ion-item>
  <ion-item (click)="popoverClick('descending','sort')">
    <ion-icon *ngIf="sortTick == 'descending'" name="checkmark-circle-outline" class="greentik"></ion-icon>
    <ion-label>{{"Z to A" | translate}}</ion-label>
  </ion-item>

</ion-list>