.scan-container {
    width: 50%;
    float: right;
    border: 1px solid grey;
}
.scan-icon{
    margin-right: 10px;
}

ion-item {
    position: relative;
}
ion-label {
    font-size: 16px !important;
    padding-right: 6px !important;
}
ion-item ion-icon {
    // position: absolute;
    // right: 1px;
    color: var(--ion-color-secondary);
    font-size: 20px;
}