.container{
  width: 95vw;
}

form{
  display: grid;
  //grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
}
// .item{
//   border: 1px solid black;
// }
.item:nth-child(3),.item:nth-child(4),.item:nth-child(5),.item:nth-child(6),.item:nth-child(7),.item:nth-child(8),.item:nth-child(9),.item:nth-child(10),.item:nth-child(11),.item:nth-child(12),.item:nth-child(13){
  grid-column-start: 1;
  grid-column-end:5;
}
.item:nth-child(2){
  grid-column-start: 2;
  grid-column-end: 5;
}
.segment{
  border-bottom: 1px solid rgba(0,0,0,0.3);
}



// .title {
//     margin-bottom: 0px;
//     color: #313679;
//     font-size: 18px;
//     font-weight: 600;
//     text-align: center;
//   }

// .mandatory
// {
//     color:red;
//     padding-left: 5px;
// }

// ion-select
// {
//   color:black;
// }

// .errText
// {
//     color:red;
//     margin-left: 5%;
//     font-size: 10px;
// }

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h
{
    font-size:14px;
}

// .left10{
//     margin-left:10%;
// }

// .segment2 ion-segment {
//     width: 100% !important;
//   }

// .segment2 .genMale.segment-button.segment-activated,
// .segment2 .genFem.segment-button.segment-activated,
// .segment2 .genOth.segment-button.segment-activated {
//     color: #115cad !important;
//     width: 31% !important;
//     display: inline-block !important;
//     font-weight: bold;
//     border-bottom: solid 5px #115cad !important;
//   }

// .segment2 ion-segment .segment-button-checked {
//     background: none;
//   }

// .segment2{
//     border-bottom: 1px solid rgba(0, 0, 0, 0.13);
// }

// .segment2 ion-segment-button{
//     font-size:13x;
//     color:black;
// }

// .genderLabel{
//     font-weight:530;
// }

// .newdate .input-cover {
//     display: none;
//   }

// .slide-zoom, .swiper-slide{
//     text-align: left;
//   }

// .addr_segment ion-segment {
//     width: 100% !important;
//   }

// .addr_segment .resadd.segment-button.segment-activated,
// .addr_segment .paradd.segment-button.segment-activated {
//     color: #115cad !important;
//     width: 48% !important;
//     display: inline-block !important;
//     font-weight: bold;
//     border-bottom: solid 5px #115cad !important;
//   }

// .addr_segment ion-segment .segment-button-checked {
//     background: none;
//   }