<!-- <p class="scan-container">
  <li>
    <ol *ngFor="let type of kycScanType" (click)="emitScanType(type.code)">{{type.Name}}</ol>
  </li> 
  <ion-list>
    <ion-item *ngFor="let type of kycScanType" (click)="emitScanType(type.code)">
      <ion-icon name={{type.icon}} class="scan-icon"></ion-icon>
      <ion-label>{{type.Name}}</ion-label>
    </ion-item>
  </ion-list>
</p> -->

<ion-list>
  <ion-item *ngFor="let type of kycScanType" (click)="emitScanType(type.code)">
    <!-- <ion-icon *ngIf="filterTick == 'Y'" name="checkmark-circle-outline" class="greentik"></ion-icon> -->
    <ion-icon name={{type.icon}} class="scan-icon"></ion-icon>
    <ion-label>{{type.Name}}</ion-label>
  </ion-item>
</ion-list>