<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Theme</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>

    <div class='table'>
      <div class='tablecol'>Primary</div>
      <div class='tablecol'> <input type='text' #primary maxlength="7" [(colorPicker)]="color" [cpWidth]="'180px'" [value]="color" (colorPickerChange)="color=$event"
          [cpDialogDisplay]="'popup'" [cpPosition]="'bottom'" [cpPositionOffset]="'10%'" [cpPositionRelativeToArrow]="true"
          [cpOKButton]="'true'" [style.background]="color" [cpOKButtonClass]="'btn-ok'" /></div>
    </div>

    <div class='table'>
      <div class='tablecol'>Secondary</div>
      <div class='tablecol'> <input type='text' #secondary maxlength="7" [(colorPicker)]="color1" [cpWidth]="'180px'" [value]="color1" (colorPickerChange)="color1=$event"
          [cpDialogDisplay]="'popup'" [cpPosition]="'bottom'" [cpPositionOffset]="'10%'" [cpPositionRelativeToArrow]="true"
          [cpOKButton]="'true'" [style.background]="color1" [cpOKButtonClass]="'btn-ok'" /></div>
    </div>

    <div class='table'>
      <div class='tablecol'>Accent</div>
      <div class='tablecol'> <input type='text' #accent maxlength="7" [(colorPicker)]="color2" [cpWidth]="'180px'" [value]="color2" (colorPickerChange)="color2=$event"
          [cpDialogDisplay]="'popup'" [cpPosition]="'bottom'" [cpPositionOffset]="'10%'" [cpPositionRelativeToArrow]="true"
          [cpOKButton]="'true'" [style.background]="color2" [cpOKButtonClass]="'btn-ok'" /></div>
    </div>
    <div class='table'>
      <div class='tablecol'>Text</div>
      <div class='tablecol'> <input type='text' #text maxlength="7" [(colorPicker)]="color3" [cpWidth]="'180px'" [value]="color3" (colorPickerChange)="color3=$event"
          [cpDialogDisplay]="'popup'" [cpPosition]="'bottom'" [cpPositionOffset]="'10%'" [cpPositionRelativeToArrow]="true"
          [cpOKButton]="'true'" [style.background]="color3" [cpOKButtonClass]="'btn-ok'" /></div>
    </div>

    <ion-button type='button' icon-only shape="round" (click)='changeTheme()' center>Apply Theme</ion-button>


  </ion-card>


  <ion-icon name="person" class="loginIcon"></ion-icon>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>