.bgColor{
    margin-top: 16px;
    background: #0062a9;
    padding: 16px 10px 60px 10px;
}
.headClr{
    background: #f4882d;
    color: #FFF;
    font-size: 70%;
    text-transform: uppercase;
}
.contentClr{
    background: #FFF;
    font-size: 75%;
    border-bottom: solid 2px #020202;
    text-transform: uppercase; 
}
.contentClr:last-child{
    border-bottom: solid 6px #020202;
}
img{
    width: 50%;
}
ion-icon{
    font-size: 150%;
}
.green{
    color: #0c5347;
    font-weight: bold;
}
.red{
    color: red;
    font-weight: bold;
}

form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 10px;
  
  }
  @media only screen and (max-width: 412px) {
    .item.sc-ion-label-md-h,
    .item .sc-ion-label-md-h {
      font-size: 14px;
      white-space: normal;
    }
    .container {
      width: 95vw;
    }
  }
  @media only screen and (min-width: 413px) {
    .item.sc-ion-label-md-h,
    .item .sc-ion-label-md-h {
      font-size: 110%;
      white-space: normal;
    }
    .container {
      width: 95vw;
      height: 100vh;
    }
  }
 

