.container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-items: center;
}
img{
  height: auto;
  max-height: 50vh;
  max-width: 100%;
  grid-column-start: 1;
    grid-column-end: 3;
}
.update{
  position: absolute;
    bottom: 0;
}
.close{
  position: absolute;
    bottom: 0;
    right: 0;
}
.footer{
  
}

.sc-ion-modal-md-h{
  
}