<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sync
      <ion-icon name="sync-circle-sharp" class="title-icon" (click)="startSyncProcess()"></ion-icon>
    </ion-title>
<!-- <p (click)="removeALlSync()">RemoveAllSync</p> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row justify-content-center align-items-center class="no-data-msg" *ngIf="listOfApplication.length === 0">
    <h2 style="text-align:center;">No Data Found</h2>
  </ion-row>
  <ion-list *ngIf="listOfApplication.length > 0">
    <ion-item *ngFor="let item of listOfApplication;let i = index;">
      <ion-card class="sync-item-card">
        <ion-grid no-padding>
          <ion-row>
            <ion-col size="6">
              <p><ion-icon name="person" class="card-icon"></ion-icon> Name:</p>
              <p><ion-icon name="calendar" class="card-icon"></ion-icon>Created on:  </p>
              <p><ion-icon name="sync-circle-outline" class="card-icon"></ion-icon>Synced on: </p>
            </ion-col>
            <ion-col size="6">
             <p>{{item.firstName}}</p>
             <p>{{item.createdDate | date }}</p>
             <p>{{item.tempAppNo | date: 'short'}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
