<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)='goBack()'>
      <ion-icon name="arrow-back" color="white" style="font-size:20px; margin-left:10px;"></ion-icon>
    </ion-buttons>
    <ion-title>
      <ion-icon name="person-circle-outline"></ion-icon>
      {{"Applicant User"}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let app of applications">
    <ion-card class="container2" (click)="existingApp(app)">
      <div class="left_content">
        <img class="left_content_img" [src]="app.profileImage">
      </div>
      <div class="right_content">
        <h6 class="right_content_text"><span>
            <ion-icon name="person"></ion-icon>
          </span>{{app.firstName}}</h6>
        <h6 class="right_content_text"><span>
            <ion-icon name="cart-outline"></ion-icon>
          </span>{{app.interestType}}</h6>
        <h6 *ngIf="app.submitStatus == 'N'" class="right_content_text"><span>
            <ion-icon name="thumbs-down"></ion-icon>
          </span>Not Submitted</h6>
        <h6 *ngIf="app.submitStatus == 'Y'" class="right_content_text"><span>
            <ion-icon name="thumbs-up"></ion-icon>
          </span>Submitted</h6>
        <h6 class="right_content_text"><span>
            <ion-icon name="cash"></ion-icon>
          </span>{{app.amountRequested}}</h6>
        <h6 *ngIf="app.submitStatus == 'N'" class="right_content_text">{{app.referenceNumber}}</h6>
      </div>
    </ion-card>

    <div class="segment">
      <ion-segment [(ngModel)]="addressType" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="C">{{"CO-APPLICANT"}}</ion-segment-button>
        <ion-segment-button value="G">{{"GUARANTOR"}}</ion-segment-button>
      </ion-segment>
    </div>


    <div *ngIf="addressType == 'C'">
      <div class="existPlaceholder" *ngIf="coApplications.length == 0">
        <h2>No Records found</h2>
      </div>
      <div *ngIf="coApplications.length != 0">
        <ion-card class="container2" (click)="existingcoApp(coApp)" *ngFor="let coApp of coApplications">
          <div class="left_content">
            <img class="left_content_img" [src]="coApp.profileImage">
          </div>
          <div class="right_content">
            <h6 class="right_content_text"><span>
                <ion-icon name="person"></ion-icon>
              </span>{{coApp.firstName}}</h6>
            <h6 class="right_content_text"><span>
                <ion-icon name="cart-outline"></ion-icon>
              </span>{{coApp.mobileNumber}}</h6>
            <h6 class="right_content_text"><span>
                <ion-icon name="cash"></ion-icon>
              </span>{{coApp.email}}</h6>
          </div>
        </ion-card>
      </div>
    </div>

    <div *ngIf="addressType == 'G'">
      <div class="existPlaceholder" *ngIf="gurantorApplications.length == 0">
        <h2>No Records found</h2>
      </div>
      <div *ngIf="gurantorApplications.length != 0">
        <ion-card class="container2" (click)="existingGurantorApp(gurantor)"
          *ngFor="let gurantor of gurantorApplications">
          <div class="left_content">
            <img class="left_content_img" [src]="gurantor.profileImage">
          </div>
          <div class="right_content">
            <h6 class="right_content_text"><span>
                <ion-icon name="person"></ion-icon>
              </span>{{gurantor.firstName}}</h6>
            <h6 class="right_content_text"><span>
                <ion-icon name="cart-outline"></ion-icon>
              </span>{{gurantor.mobileNumber}}</h6>
            <h6 class="right_content_text"><span>
                <ion-icon name="cash"></ion-icon>
              </span>{{gurantor.email}}</h6>
          </div>
        </ion-card>
      </div>
    </div>

    <ion-fab vertical="bottom " horizontal="end" #fab>
      <ion-fab-button type="button" size="small">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button type="button" (click)="addCoApplicantGurantor(app.refId)">
          <ion-icon name="person"></ion-icon>
        </ion-fab-button>
        <ion-label style="position: absolute;top: 18px;right: 55px;">{{"New"}}</ion-label>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>