<div class="container">
  <form [formGroup]="otherDocument" (ngSubmit)="otherDocumentSave(otherDocument.value)">
    <div class="item">

      <ion-item>
        <ion-label position="floating">{{"Document" | translate}}</ion-label>
        <ion-select interface="popover" formControlName="otherDocumentType">
          <ion-select-option *ngFor="let document of documentList" [value]="document.code">
            {{document.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div>
      <ion-item>
        <ion-label position="floating"> {{"Document Description" | translate}}</ion-label>
        <ion-input type="text" formControlName="otherDescription"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-button type="submit" shape="round" [disabled]="otherDocument.invalid">{{"Save" | translate}}
      </ion-button>
    </div>


    <div class="segbar">
      <span>{{"Doc-Type" | translate}}</span>

      <span>{{"Description" | translate}}</span>

      <span>{{"Attach" | translate}}</span>

      <span>{{"View" | translate}}</span>
    </div>

    <div class="segbarWrap" *ngFor="let doc of dlist;let i=index">
      <span class="textSize">{{doc.otherDocumentType}}</span>
      <span class="textSize">{{doc.otherDescription}}</span>
      <span>
        <!-- <ion-icon name="add-circle-outline" size="large" (click)="getDocs(doc.index,false,i)"></ion-icon> -->
        <ion-icon name="add-circle-outline" size="large" (click)="docActionSheet(doc.index,false,i)"></ion-icon>
      </span>
      <span (click)="viewDoc(doc.imgs,i)">
        <ion-badge class="segbarbadge">{{doc.imgs.length}}</ion-badge>
        <ion-icon size="large" name="image-outline"></ion-icon>
      </span>
    </div>
  </form>

  <ion-button style="left: 35vw;
  position: fixed;
  top: 75vh;" *ngIf="isSelected" (click)="docUpload()" shape="round">
    <!-- <ion-icon name="cloud-upload"></ion-icon> -->

    UPLOAD </ion-button>
</div>



<ng-template appProgressBar></ng-template>
<ng-template appGallery></ng-template>