<div class="container">
  <form [formGroup]="otherDocument" (ngSubmit)="otherDocumentSave(otherDocument.value)">
    <div class="item">

      <ion-item>
        <ion-label position="floating">{{"Document" | translate}}</ion-label>
        <ion-select interface="popover" formControlName="otherDocumentType">
          <ion-select-option *ngFor="let document of documentList" [value]="document.code">
            {{document.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <div>
        <ng-container *ngFor="let validation of errorMessage.otherDocumentType">
          <div class="mandatory"
            *ngIf="otherDocument.get('otherDocumentType').hasError(validation.type) && (otherDocument.get('otherDocumentType').dirty || otherDocument.get('otherDocumentType').touched)">
            <p class="errText marginLR0pxTB5px">{{validation.message | translate}}</p>
          </div>
        </ng-container>
      </div>

    </div>

    <!-- <div>
      <ion-item>
        <ion-label position="floating"> {{"Document Description" | translate}}</ion-label>
        <ion-input type="text" formControlName="otherDescription"></ion-input>
      </ion-item>

      <div>
        <ng-container *ngFor="let validation of errorMessage.otherDescription">
          <div class="mandatory"
            *ngIf="otherDocument.get('otherDescription').hasError(validation.type) && (otherDocument.get('otherDescription').dirty || otherDocument.get('otherDescription').touched)">
            <p class="errText marginLR0pxTB5px">{{validation.message | translate}}</p>
          </div>
        </ng-container>
      </div>

    </div> -->

    <div>
      <ion-button type="submit" shape="round" [disabled]="otherDocument.invalid">{{"Add" | translate}}
      </ion-button>
    </div>


    <div class="segbar">
      <span>{{"Doc-Type" | translate}}</span>

      <!-- <span>{{"Description" | translate}}</span> -->

      <span>{{"Attach" | translate}}</span>

      <span>{{"View" | translate}}</span>

      <span>{{"Action" | translate}}</span>
    </div>

    <div class="segbarWrap" *ngFor="let doc of dlist;let i=index; trackBy:trackByName">
      <span class="textSize">{{doc.otherDocumentType}}</span>
      <!-- <span class="textSize">{{doc.otherDescription}}</span> -->
      <span *ngIf="doc.otherDocumentType !== 'Video' && doc.otherDocumentType !== 'Signature'">
        <ion-icon name="add-circle-outline" size="large" (click)="docActionSheet(i,false,i,doc)"></ion-icon>
      </span>
      <span *ngIf="doc.otherDocumentType !== 'Video' && doc.otherDocumentType !== 'Signature'"
        (click)="viewDoc(doc.imgs,i)">
        <ion-badge class="segbarbadge">{{doc.imgs.length}}</ion-badge>
        <ion-icon size="large" name="images-outline"></ion-icon>
      </span>

      <span *ngIf="doc.otherDocumentType !== 'Video' && doc.otherDocumentType !== 'Signature'"
        (click)="documentDelete(doc.otherDocumentType)">
        <ion-icon size="large" name="trash"></ion-icon>
      </span>

      <span *ngIf="doc.otherDocumentType == 'Video'">
        <ion-icon name="videocam-outline" size="large" (click)="videoRecord(i,false,i)">
        </ion-icon>
      </span>
      <span *ngIf="doc.otherDocumentType == 'Video'">
        <ion-icon name="play-circle-outline" size="large" (click)="videoRecord(i,true,i)">
        </ion-icon>
      </span>

      <!-- <span *ngIf="doc.otherDocumentType == 'Video'">
        <ion-icon *ngIf="!isRecorded" name="videocam-outline" size="large" (click)="videoRecord(i,false,i)">
        </ion-icon>
        <ion-icon *ngIf="isRecorded" name="play-circle-outline" size="large" (click)="videoRecord(i,true,i)">
        </ion-icon>
      </span> -->
      <span *ngIf="doc.otherDocumentType == 'Video'">
        <ion-icon size="large" name="trash" (click)="videoRecord(i,true,i,true)"></ion-icon>
      </span>


      <span *ngIf="doc.otherDocumentType == 'Signature'">
        <ion-icon name="pencil-outline" size="large" (click)="signature(i,false,i)">
        </ion-icon>
      </span>
      <span *ngIf="doc.otherDocumentType == 'Signature'">
        <ion-icon name="eye-outline" size="large" (click)="viewDoc(doc.imgs,i)"></ion-icon>
      </span>

      <!-- <span *ngIf="doc.otherDocumentType == 'Signature'">
        <ion-icon *ngIf="!isSigned" name="pencil-outline" size="large" (click)="signature(i,false,i)">
        </ion-icon>
        <ion-icon *ngIf="isSigned" name="eye-outline" size="large" (click)="viewDoc(doc.imgs,i)"></ion-icon>
      </span> -->
      <span *ngIf="doc.otherDocumentType == 'Signature'">
        <!-- <ion-badge class="segbarbadge">{{doc.imgs.length}}</ion-badge> -->
        <ion-icon size="large" name="trash" (click)="documentDelete(doc.otherDocumentType)"></ion-icon>
      </span>
    </div>
  </form>

  <ion-button style="position: fixed;
  top: 75vh;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100px;" *ngIf="isSelected" (click)="docUpload()" shape="round">
    <!-- <ion-icon name="cloud-upload"></ion-icon> -->

    UPLOAD </ion-button>


  <!-- <ion-button (click)="test()">uptest</ion-button> -->
</div>



<ng-template appProgressBar></ng-template>
<ng-template appGallery></ng-template>