<ion-header>
  <ion-toolbar>
    <ion-title>videoGallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="record()">Record</ion-button>
  <ion-list *ngIf="this.videoList.length">
    <ion-item *ngFor="let video of videoList">
      <p>{{video.name}}</p>
      <ion-icon slot="end" name="play" (click)="play(video.native)"></ion-icon>
      <ion-icon slot="end" name="trash"></ion-icon>
    </ion-item>
  </ion-list>

  <img *ngIf="this.signatureImage" [src]='signatureImage' alt="">

</ion-content>