<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Existing Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card class="container2">
    <div class="left_content">
      <img class="left_content_img" src="../../assets/img/round_headshot.png">
    </div>
    <div class="right_content">
      <h2 class="right_content_text"><span><ion-icon name="person"></ion-icon></span>Chris Evans</h2>
      <p class="right_content_text"><span><ion-icon name="document"></ion-icon></span>987654321</p>
      <p class="right_content_text"><span><ion-icon name="thumbs-up"></ion-icon></span>Submitted</p>
      <ion-icon class="right_content_icon" name="arrow-forward-circle"></ion-icon>
    </div>
  </ion-card>


</ion-content>