.container{
    display: grid;
    grid-column-gap: 50px;
  grid-template-columns: 30px auto;
}

.container1{
    display: grid;
    // grid-row-gap: 100px;
  grid-template-rows: 100px auto;
}

.container2{
  display: grid;
  grid-template-columns: 125px auto; 
  padding-bottom: 26px;
  // height: 150px;
  // border:2px solid turquoise;
}

.left_content{
  // background-color:turquoise;
}

.left_content_img{
  width: 100px;
  height: 100px;
  position: relative;
  left: 9px;
  top:15px;
  border: 2px solid white;
  border-radius: 100%;
}
.right_content{
  background-color: white;
  padding: 10px;
}



.right_content_icon{
  font-size: 48px;
    position: absolute;
    bottom: 0px;
    right: 0;
    // color: turquoise;
}

.filterItems {
  // border-bottom: 1px solid var(--ion-color-primary);  
  border: 1px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.07)))); 
  --color:  var(--ion-color-primary);
  background: #fff; 
}
.filterItems span {
  font-size: 16px;
  margin-left: 5px;
  font-size: 100%;
}
ion-item-divider {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.0125em;
  --color: var(--ion-color-primary);
  min-height: 36px;
}

.filterlist {
  width: 140px;
  border: 1px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.07))));
  padding: 0;
  position: absolute;
  top: 96px;
}

.filterlist ion-item {
  --inner-padding-start: 0;
  --padding-start: -1px;
  --max-height: 10px;
  padding: 0;
  margin: 0;
  --min-height: 10px;
}
.filterlist ion-label {
padding: 0;
margin: 0;
padding-left: 10px;
font-size: 13px;
}
.filterlist ion-radio {
  padding: 0;
  margin: 3px;
  font-size: 13px;
}

.existPlaceholder{
  height:50px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  position: absolute;
}
.existPlaceholder h2{
  color: darkgray;font-weight: bold;text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}






@media only screen and (max-width: 412px)  {

  .listcontainer {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .listcontainer .profilehead {
    position: relative;
    margin: 5px;
  }
  .listcontainer .profileinfo {
    padding: 3px;
  }
  .listcontainer .profileimg {
    width: 75px;
    border-radius: 100%;
    z-index: 5;
    height: 75px;
  }
  .listcontainer .profilebody {
    position: absolute;
    left: 100px;
    top: 5px;
    border-left: 2px solid var(--ion-color-secondary) !important;
  }
  .listcontainer .right_content_text{
    width: 210px;
  }


  .girdcontainer {
    width: 360px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .girdcontainer .profileinfo {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .girdcontainer .profilehead {
    position: relative;
    width: 47%;
    margin: 5px;
    margin-top: 10px;
  }
  .girdcontainer .profileimg {
    width: 75px;
    border-radius: 100%;
    z-index: 5;
    margin: 0 auto;
    height: 75px;
    margin-bottom: 15px;
    padding-left: -16px;
  }
  .girdcontainer .profilebody{
    border-top: 2px solid var(--ion-color-secondary) !important; 
    padding-top: 6px !important;
  }
  }
  
  @media only screen and (min-width: 413px)  {
    .listcontainer {
      width: 550px;
      box-sizing: border-box;
      margin: 0 auto;
    }
    .listcontainer .profilehead {
      position: relative;
      margin: 5px;
    }
    .listcontainer .profileinfo {
      padding: 3px;
    }
    .listcontainer .profileimg {
      width: 75px;
      border-radius: 100%;
      z-index: 5;
      height: 75px;
    }
    .listcontainer .profilebody {
      position: absolute;
      left: 100px;
      top: 5px;
      border-left: 2px solid var(--ion-color-secondary) !important;
    }
    .listcontainer .right_content_text{
      width: 210px;
    }

    
    .girdcontainer {
      width: 550px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
    }
    .girdcontainer .profileinfo {
      margin: 5px;
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .girdcontainer .profilehead {
      position: relative;
      width: 31%;
      margin: 5px;
      margin-top: 10px;
    }
    .girdcontainer .profileimg {
      width: 75px;
      border-radius: 100%;
      z-index: 5;
      margin: 0 auto;
      height: 75px;
      margin-bottom: 15px;
      padding-left: -16px;
    }
    .girdcontainer .profilebody{
      border-top: 2px solid var(--ion-color-secondary) !important; 
      padding-top: 6px !important;
    }
    }
    
  
  .moredetails {
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 18px;
    // zoom: 1.5;
  }
  .right_content_text{
    margin-left: 10px;
    margin: 0px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 16px;
    font-weight: 100;
    font-size: 15px;
    ion-icon{
    margin-right: 0.5rem;
    }
    
  }


  h6:first-child {
    font-weight: bold;
    font-size: 16px;
  }



  

 
