<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"Existing Application" | translate}}</ion-title>
  </ion-toolbar>
  <ion-item-group class="filterItems">
    <ion-item-divider sticky>

      <ion-buttons slot="start" (click)="presentPopover($event, 'filter')">
        <ion-icon name="funnel-outline"></ion-icon> <span>Filter</span>
      </ion-buttons>

      <ion-buttons slot="end" style="padding-right: 10px;" (click)="presentPopover($event, 'sort')">
        <ion-icon name="options-outline"></ion-icon> <span>sort</span>
      </ion-buttons>

    </ion-item-divider>
  </ion-item-group>
</ion-header>

<ion-content>

  <div *ngIf="applications.length != 0">
    <div *ngFor="let app of applications | status:filterValue as count">
      <div class="existPlaceholder" *ngIf="!app">
        <h2>No Records found</h2>
      </div>
      <ion-card class="container2" (click)="existingApp(app)" *ngIf="app">
        <div class="left_content">
          <img class="left_content_img" [src]="app.profileImage">
        </div>
        <div class="right_content">
          <h6 class="right_content_text"><span>
              <ion-icon name="person"></ion-icon>
            </span>{{app.firstName}}</h6>
          <h6 class="right_content_text"><span>
              <ion-icon name="cart-outline"></ion-icon>
            </span>{{app.interestType}}</h6>
          <h6 *ngIf="app.submitStatus == 'N'" class="right_content_text"><span>
              <ion-icon name="thumbs-down"></ion-icon>
            </span>Not Submitted</h6>
          <h6 *ngIf="app.submitStatus == 'Y'" class="right_content_text"><span>
              <ion-icon name="thumbs-up"></ion-icon>
            </span>Submitted</h6>
          <h6 class="right_content_text"><span>
              <ion-icon name="cash"></ion-icon>
            </span>{{app.amountRequested}}</h6>
          <h6 *ngIf="app.submitStatus == 'N'" class="right_content_text">{{app.referenceNumber}}</h6>

          <ion-icon class="moredetails" (click)="moreInfo($event,app)" name="ellipsis-horizontal-outline"></ion-icon>

        </div>
      </ion-card>
    </div>
  </div>
  
  <div class="existPlaceholder" *ngIf="applications.length == 0">
    <h2>No Records found</h2>
  </div>


</ion-content>


<div appAlert></div>