.container{
    display: grid;
    grid-column-gap: 50px;
  grid-template-columns: 30px auto;
}

.container1{
    display: grid;
    // grid-row-gap: 100px;
  grid-template-rows: 100px auto;
}

.container2{
  display: grid;
  grid-template-columns: 125px auto; 
  height: 150px;
  // border:2px solid turquoise;
}

.left_content{
  // background-color:turquoise;
}

.left_content_img{
  width: 100px;
  position: relative;
  left: 9px;
  top:15px;
  border: 2px solid white;
  border-radius: 50px;
}
.right_content{
  background-color: white;
}

.right_content_text{
  // color:turquoise !important;
  margin-left: 10px;
  ion-icon{
margin-right: 0.5rem;
  }
}

.right_content_icon{
  font-size: 48px;
    position: absolute;
    bottom: 10px;
    right: 0;
    // color: turquoise;
}

.filterItems {
  // border-bottom: 1px solid var(--ion-color-primary);  
  border: 1px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.07)))); 
  --color:  var(--ion-color-primary);
  background: #fff; 
}
.filterItems span {
  font-size: 16px;
  margin-left: 5px;
}
ion-item-divider {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.0125em;
  --color: var(--ion-color-primary);
  min-height: 36px;
}

.filterlist {
  width: 140px;
  border: 1px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.07))));
  padding: 0;
  position: absolute;
  top: 96px;
}

.filterlist ion-item {
  --inner-padding-start: 0;
  --padding-start: -1px;
  --max-height: 10px;
  padding: 0;
  margin: 0;
  --min-height: 10px;
}
.filterlist ion-label {
padding: 0;
margin: 0;
padding-left: 10px;
font-size: 13px;
}
.filterlist ion-radio {
  padding: 0;
  margin: 3px;
  font-size: 13px;
}