.container{
  width: 95vw;
}
form{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}
.item.sc-ion-label-md-h, .item .sc-ion-label-md-h
{
    font-size:14px;
}


  .leftSpace{
      margin-left:10%;
  }
