<div class="container">
  <h2 class="title">{{"Income Details" | translate}}</h2>
  <form [formGroup]="incomeDetails" (ngSubmit)="incomeSave(incomeDetails.value)">

    <div class="item">
      <ion-item>
        <ion-label>{{"Employment Category" | translate}} <span class="mandatory">*</span></ion-label>
        <ion-select interface="popover" formControlName="empCategoryType">
          <ion-select-option *ngFor="let empCategory of empCategoryList" [value]="empCategory.code">
            {{empCategory.Name | translate}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.empCategoryType">
          <div class="mandatory"
            *ngIf="incomeDetails.get('empCategoryType').hasError(validation.type) && (incomeDetails.get('empCategoryType').dirty || incomeDetails.get('empCategoryType').touched)">
            <p class="marginLR0pxTB5px">{{validation.message | translate}}</p>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="item">
      <ion-item>
        <ion-label position="floating">{{"Employer Name" | translate}}</ion-label>
        <ion-input type=text formControlName="empName"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.empName">
          <div class="mandatory"
            *ngIf="incomeDetails.get('empName').hasError(validation.type) && (incomeDetails.get('empName').dirty || incomeDetails.get('empName').touched)">
            <p class="marginLR0pxTB5px">{{validation.message | translate}}</p>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="item">
      <ion-item>
        <ion-label position="floating">{{"Date of Joining" | translate}} <span class="mandatory">*</span></ion-label>
        <ion-input type=date formControlName="doj" min="2000-01-01" [max]="getToday()" displayFormat="DD/MM/YYYY">
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.doj">
          <div class="mandatory"
            *ngIf="incomeDetails.get('doj').hasError(validation.type) && (incomeDetails.get('doj').dirty || incomeDetails.get('doj').touched)">
            <p class="marginLR0pxTB5px">{{validation.message | translate}}</p>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="item">
      <ion-item>
        <ion-label>{{"Income Type" | translate}} <span class="mandatory">*</span></ion-label>
        <ion-select interface="popover" formControlName="incomeType">
          <ion-select-option *ngFor="let incomeType of incomeTypeList" [value]="incomeType.code">
            {{incomeType.Name | translate}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.incomeType">
          <div class="mandatory"
            *ngIf="incomeDetails.get('incomeType').hasError(validation.type) && (incomeDetails.get('incomeType').dirty || incomeDetails.get('incomeType').touched)">
            <p class="marginLR0pxTB5px">{{validation.message | translate}}</p>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="item">
      <ion-card class="ccardkyc">
        <span class="titlesize">
          <b>{{"DESCRIPTION AMOUNT" | translate}}</b>
        </span>
        <!--<span class="titleright">
          <b>AMOUNT</b>
        </span> -->
      </ion-card>
    </div>


    <div class="item">
      <ion-item>
        <ion-label position="floating">{{"Gross Income" | translate}} <span> (Rs) </span>
          <span class="mandatory">*</span>
        </ion-label>
        <ion-input formControlName="grossIncome" type="tel" maxlength="10" placeholder="Amount"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.grossIncome">
          <div class="mandatory"
            *ngIf="incomeDetails.get('grossIncome').hasError(validation.type) && (incomeDetails.get('grossIncome').dirty || incomeDetails.get('grossIncome').touched)">
            <p class="marginLR0pxTB5px">{{validation.message | translate}}</p>
          </div>
        </ng-container>
      </div>
    </div>




    <div class="item">
      <ion-item>
        <ion-label position="floating">{{"Other Deduction" | translate}} <span> (Rs) </span>
          <span class="mandatory">*</span>
        </ion-label>
        <ion-input formControlName="otherDeductions" type="tel" maxlength="10" placeholder="Amount"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.otherDeductions">
          <div class="mandatory"
            *ngIf="incomeDetails.get('otherDeductions').hasError(validation.type) && (incomeDetails.get('otherDeductions').dirty || incomeDetails.get('otherDeductions').touched)">
            <p class="marginLR0pxTB5px">{{validation.message | translate}}</p>
          </div>
        </ng-container>
      </div>
    </div>



    <div class="item">
      <ion-item>
        <ion-label position="floating">{{"Net Income After Deduction" | translate}} <span> (Rs) </span>
          <span class="mandatory">*</span>
        </ion-label>
        <ion-input formControlName="netIncome" type="tel" maxlength="10" placeholder="Amount"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.netIncome">
          <div class="mandatory"
            *ngIf="incomeDetails.get('netIncome').hasError(validation.type) && (incomeDetails.get('netIncome').dirty || incomeDetails.get('netIncome').touched)">
            <p class="marginLR0pxTB5px">{{validation.message | translate}}</p>
          </div>
        </ng-container>
      </div>
    </div>



    <!-- <div class="item">
      <ion-card class="ccardkyc" justify-content-center align-items-center>
        <span class="titlesize">
          <b>{{"OTHER INCOME" | translate}}</b>
        </span>
        <ion-icon class="btn-2" ios="ios-add-circle" md="md-add-circle" (click)="addincomefield()"></ion-icon>
      </ion-card>
    </div> -->

    <!-- eosb
lengthService
otherincomes
statutory -->




    <div class="item">
      <div class="ion-text-center">
        <ion-button [disabled]="incomeDetails.invalid" type="submit" shape="round">{{"Save" | translate}} </ion-button>
      </div>
    </div>
  </form>
</div>