.content{
    position: relative;
width: 50%;
height: 25%;
border: 1px solid gray;
}

.content:nth-child(2),.content:nth-child(4),.content:nth-child(6){
float:right;
}

.content:nth-child(1),.content:nth-child(3),.content:nth-child(5){
    float:left;
    }

   ion-icon{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);  
    zoom: 2;
    color:var(--ion-color-secondary);

   } 


   ion-label{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,50%);
    white-space: nowrap;
    font-size: 18px;
   }