<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)='goBack()'>
      <ion-icon name="arrow-back" color="white" style="font-size:20px; margin-left:10px;"></ion-icon>
    </ion-buttons>
    <ion-title>{{"labelText.themeheading" | translate}}</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>

  <div class='table'>
    <div class='tablecol'>{{"labelText.label[0]" | translate}}</div>
    <div class='tablecol'> <input class='colortheme' type='text' #setPrimaryColor maxlength="7"
        [(colorPicker)]="setTheme.primaryColor" [cpWidth]="'180px'" [value]="setTheme.primaryColor"
        (colorPickerChange)="setTheme.primaryColor=$event" [cpDialogDisplay]="'popup'" [cpPosition]="'bottom'"
        [cpPositionOffset]="'10%'" [cpPositionRelativeToArrow]="true" [cpOKButton]="'true'"
        [style.borderColor]="setTheme.primaryColor" [cpOKButtonClass]="'btn-ok'" /></div>
  </div>

  <div class='table'>
    <div class='tablecol'>{{"labelText.label[1]" | translate}}</div>
    <div class='tablecol'> <input class='colortheme' type='text' #setSecondaryColor maxlength="7"
        [(colorPicker)]="setTheme.secondaryColor" [cpWidth]="'180px'" [value]="setTheme.secondaryColor"
        (colorPickerChange)="setTheme.secondaryColor=$event" [cpDialogDisplay]="'popup'" [cpPosition]="'bottom'"
        [cpPositionOffset]="'10%'" [cpPositionRelativeToArrow]="true" [cpOKButton]="'true'"
        [style.borderColor]="setTheme.secondaryColor" [cpOKButtonClass]="'btn-ok'" /></div>
  </div>

  <div class='table'>
    <div class='tablecol'>{{"labelText.label[2]" | translate}}</div>
    <div class='tablecol'> <input class='colortheme' type='text' #setAccentColor maxlength="7"
        [(colorPicker)]="setTheme.accentColor" [cpWidth]="'180px'" [value]="setTheme.accentColor"
        (colorPickerChange)="setTheme.accentColor=$event" [cpDialogDisplay]="'popup'" [cpPosition]="'bottom'"
        [cpPositionOffset]="'10%'" [cpPositionRelativeToArrow]="true" [cpOKButton]="'true'"
        [style.borderColor]="setTheme.accentColor" [cpOKButtonClass]="'btn-ok'" /></div>
  </div>
  <div class='table'>
    <div class='tablecol'>{{"labelText.label[3]" | translate}}</div>
    <div class='tablecol'> <input class='colortheme' type='text' #setTextColor maxlength="7"
        [(colorPicker)]="setTheme.textColor" [cpWidth]="'180px'" [value]="setTheme.textColor"
        (colorPickerChange)="setTheme.textColor=$event" [cpDialogDisplay]="'popup'" [cpPosition]="'bottom'"
        [cpPositionOffset]="'10%'" [cpPositionRelativeToArrow]="true" [cpOKButton]="'true'"
        [style.borderColor]="setTheme.textColor" [cpOKButtonClass]="'btn-ok'" /></div>
  </div>
  <div style='text-align: center'>
    <ion-button type='button' icon-only shape="round" (click)='changeTheme()' center>
      {{"labelText.themebtnText" | translate}}</ion-button>
  </div>

</ion-content>
<div appAlert></div>