ion-button {
    text-align: center;
}

ion-card {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
.colorpik {
    border: 1px solid #000;
    padding: 10px !important;
    box-sizing: border-box;
    height: 35px !important;
    margin-left: 10px;
}
.native-input {
    padding: 10px !important;
    background: #000 !important;
}
.tablecol > .colortheme {
    width: 100%;
    // color: #fff;
    border: 2px solid #ccc;
    background: #fff !important;
    text-decoration: none;
}

.tablecol > .colortheme::selection { background: transparent; }

.table {
    display: block;
    width: 100%;
    padding:10px;
    float: left; 
    border-bottom: 1px solid #ccc;
}
.tablecol:first-child {
    width: 30%;
    display: inline-block;
}
.tablecol:last-child {
    width: 66%;
    display: inline-block;
}
