ion-toolbar{
    text-align: center;
}

ion-title{
    margin-right: 1rem
}
ion-slides{
    margin-top: 1vh;
}
ion-icon{
    margin: 0 3vw 0 3vw;
}
.imgContainer{
    height: 83vh;
    width: 96vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}