// .container{
//     display:grid;
//     grid-template-columns: auto auto auto;
//     grid-template-rows: auto auto;
//     grid-gap:5px;
//     margin-top:10px;
//     background-color: darkslategrey;
//     justify-items: center;
//     overflow: scroll;
// }

// img{
//     max-height: 22vh;
//     max-width: 100%;
//     margin-right: auto;
//     margin-left: auto;
// }

// .imgs{
//     background-color: black;
// }
img{
    max-height: 36vh;
}
ion-slides{
        top: 5vh;
    background: black;
    min-height: 60vh;
    position: absolute;
}

.img_btn1{
    position: absolute;
    bottom: -11rem;
    left: 0;
}
.img_btn2{
    position: absolute;
    bottom: -11rem;
    right: 0;
}
.img_badge{
    color: white;
    position: absolute;
    
    bottom: -10.5rem;
}