
img{
    max-height: 36vh;
}
ion-slides{
        top: 5vh;
    background: black;
    min-height: 60vh;
    position: absolute;
}

.img_btn1{
    position: absolute;
    bottom: -11rem;
    left: 0;
}
.img_btn2{
    position: absolute;
    bottom: -11rem;
    right: 0;
}
.img_badge{
    color: white;
    position: absolute;
    
    bottom: -10.5rem;
}