<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-buttons *ngIf="!searchtext" slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!searchtext">{{"Dashboard" | translate}}</ion-title>
    <!-- <ion-searchbar *ngIf="searchtext" [showCancelButton]="true" animated debounce="500" (ionInput)="onInput($event)"
      (ionCancel)="searchCancel($event)">
    </ion-searchbar>
    <ion-buttons *ngIf="!searchtext" slot="end" style='padding-right: 10px;' (click)="doSearch()">
      <ion-icon name="search"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>


</ion-header>

<ion-content (click)="closeFab()">

  <p>LendPerfect Base <br /> <span>Mobile App</span></p>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-label>{{"Application" | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="openExistingPage()">
        <!-- <ion-icon name="person"></ion-icon> -->
        <ion-label>{{"Existing Application" | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <!-- <ion-icon name="cloud-download"></ion-icon> -->
        <ion-label>{{"Master Update" | translate}}</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>


<div class="fabcheck">
  <div class="fabItems">
    <div>
      <ion-fab horizontal="center" #fab>
        <ion-fab-button type="button" size="small">
          <ion-icon name="person"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button type="button" (click)="openExistingPage()">

            <ion-icon name="person-add"></ion-icon>

          </ion-fab-button>
          <ion-fab-button type="button" (click)="newApplicant()">
            <!--(click)="openExistingPage()" -->
            <ion-icon name="person"></ion-icon>
          </ion-fab-button>
          <ion-label style="position: absolute;top: 15px;font-size: 110%; left: 46px;">{{"New" | translate}}</ion-label>
          <ion-label style="position: absolute;top: 55px;font-size: 110%; left: 46px;">{{"Existing" | translate}}</ion-label>
        </ion-fab-list>
      </ion-fab>
    </div>
    <div>
      <ion-fab horizontal="center">
        <ion-fab-button type="button" size="small" (click)="openExistingPage()">
          <ion-icon name="person-add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </div>
    <div>
      <ion-fab horizontal="center">
        <ion-fab-button type="button" size="small">
          <ion-icon name="cloud-download"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

  </div>

</div>


<div appAlert></div>
