
ion-content ion-toolbar {
  --background: translucent;
}


.container{
  position: relative;
  background-color:whitesmoke;
  height: 100vh;
}


.card{
  border-radius: 15px;
  height: 100px;
  position: relative;
}

.card1{
  background-color: yellow;
  top: 50px;
}

.card2{
  background-color:aquamarine;
  top: 100px;
}

.card3{
  background-color: mediumspringgreen;
  top: 150px;
}

.card_icons{
  font-size: 48px;
  position: relative;
  top:25px;
  left:20px
}

.text_content{
  position: relative;
  left:100px;
  bottom:40px
}

.outerArrow{
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: dimgray;
  transform: rotate(45deg);
  top:25px;
  left: 292px;
  border-radius: 10px;
}

.innerArrow{
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: yellow;
  top:11px;
  left: -1px;
}




ion-fab-button {
  zoom: 0.8;
}
ion-fab {
  padding-bottom: 10px;
  // padding-left: 10px;
}
ion-fab-list {
  align-items: flex-start;
  padding-left: 7px;
}

ion-tab-button ion-label {
  padding-top: 30px;
  white-space: nowrap;

}


.fabItems {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding-bottom: var(--ion-safe-area-bottom, 0);
  color: #3880ff;
  text-align: center;
  
  user-select: none;
  z-index: 10;
  box-sizing: content-box !important;
  justify-content: center;
  min-height: 56px;
}
.fabItems div {
  --padding-top: 0;
  --padding-end: 12px;
  --padding-bottom: 0;
  --padding-start: 12px;
  max-width: 168px;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.03em;
  --background-focused-opacity: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #3880ff;
  flex: 1 1 0%;
  outline: none;
  position: relative;
}

ion-content{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  //--background: #000;
}

p {
  position: relative;
  top:35%;
  margin:10px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align:center;
}

span{
  margin:auto;display: block;text-align:center;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
button[ion-fab] {
  overflow: visible;
  position: relative;

  ion-label {
      position: absolute;
      top: -8px;
      right: 40px;
      // color: white;
      color:  var(--ion-color-primary); 
      background-color: rgba(0,0,0,0.7);
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
  }
  contain: layout;
}
.fabcheck {
  position: absolute;
  bottom: 31px;
  width: 100%;
}