.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}
.alert_box {
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    z-index: 100;
    transform: translate(-50%, -50%);
    width: 50vw;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    border-radius: 20px;
}
ion-spinner {
    position: absolute;
    margin-left: 10px;
}