/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.btn-ok {
    background: blue;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    bottom: 14px;
}
.color-picker .type-policy, .color-picker .hue-alpha > .left, .hex-text > div:nth-child(2) {
    display: none;
}
.color-picker, .saturation-lightness {
    border-radius: 10px;
}
.color-picker .hue-alpha > .right > .alpha {
    display: none !important;
    padding: 0px !important;
}
.color-picker .button-area {
    padding: 0px !important;
}
.color-picker .hex-text {
    width: 83% !important;
}
.color-picker .hue {
    margin-bottom: 0px !important;
}
.ccardkyc {
    background: #3880ff;
    color: #ffffff;
    padding: 10px;
  }
  .mandatory {
    text-align: left;
    font-size: 12px;
    color: red;
  }   
  .my-custom-modal-css .modal-wrapper {
    // height: 75vh;
    width: 90vw;
    min-height: 41vh;
    height: auto;
 }

 .txtcenter{
    text-align: center;
  }


//   signature-pad{
//     canvas{
        
//         //width: 96vw;
//        // background-color: whitesmoke
//     }
// }
//{
      .doc_view_modal{
    // --width: 100%;
    // --min-width: auto;
    --max-width: auto;
    --height: auto;
    --min-height: 70vh;
    --max-height: auto;
    // --overflow: hidden;
    // --border-radius: 0;
    // --border-width: 0;
    // --border-style: none;
    // --border-color: transparent;
    // --background: var(--ion-background-color, #fff);
    // --box-shadow: none;
    // --backdrop-opacity: 0;
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;
    // display: -ms-flexbox;
    // display: flex;
    // position: absolute;
    // overflow: scroll;
    // -ms-flex-align: center;
    // align-items: center;
    // -ms-flex-pack: center;
    // justify-content: center;
    // contain: strict;
}
  .sign-modal .modal-wrapper{
      height: 45vh;
      width: 98vw;
      .container{
          #b1{
              position: absolute;
          }
          #b2{position: absolute;right: 0;}
      }
     
  }
//   #sign{
    
// }