/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.btn-ok {
    background: blue;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    bottom: 14px;
}
.color-picker .type-policy, .color-picker .hue-alpha > .left, .hex-text > div:nth-child(2) {
    display: none;
}
.color-picker, .saturation-lightness {
    border-radius: 10px;
}
.color-picker .hue-alpha > .right > .alpha {
    display: none !important;
    padding: 0px !important;
}
.color-picker .button-area {
    padding: 0px !important;
}
.color-picker .hex-text {
    width: 83% !important;
}
.color-picker .hue {
    margin-bottom: 0px !important;
}
.ccardkyc {
    background: #3880ff;
    color: #ffffff;
    padding: 10px;
  }
  .mandatory {
    text-align: left;
    font-size: 12px;
    color: red;
  }   