.venus-container{
    width: 50%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius:5px;
    padding: 1em;
    margin: 0 auto;
}

.venus-container>div:first-child{
    margin-left: 25%;
}

.title-container{
    text-align: center;
}