.back-item-card{
    width: 100%;
}
#back-item-checkbox{
    text-align: center;
    margin-top: 45%;
}
.title-icon{
    float: right;
    zoom: 1.5;
    padding-right: 5px;
}
.no-data-msg{
    height: 100%;
    position: relative;
    margin-top: 55%;
    left: 28%;
    height: 100%;
}
.card-icon{
    // zoom: 1.4;
    padding-right: 2px
}