<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Backup
      <ion-icon name="cloud-upload" class="title-icon" (click)="startBackupProcess()"></ion-icon>
    </ion-title>
    <!-- <p (click)="getData()">getData</p>
    <p (click)="reset()">resetBackup</p> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row justify-content-center align-items-center class="no-data-msg" *ngIf="listOfApplication.length === 0">
    <h2 style="text-align:center;">No Data Found</h2>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let item of listOfApplication;let i = index;">
      <ion-card class="back-item-card">
        <ion-grid no-padding>
          <ion-row>
            <ion-col size="5">
              <p><ion-icon name="person" class="card-icon"></ion-icon> Name:</p>
              <p><ion-icon name="call" class="card-icon"></ion-icon>Contact No: </p>
              <p><ion-icon name="calendar" class="card-icon"></ion-icon>Created on: </p>
              <p><ion-icon name="clipboard" class="card-icon"></ion-icon>Status:</p>
              
            </ion-col>
            <ion-col size="5">
             <p>{{item.firstName}}</p>
             <p>{{item.mobileNumber}}</p>
             <p>{{item.createdDate | date: 'short'}}</p>
             <p *ngIf="item.submitStatus == 'N'">Not Submitted</p>
             <p *ngIf="item.submitStatus == 'Y'">Submitted</p>

            </ion-col>
            <ion-col size="2">
              <ion-checkbox id="back-item-checkbox" class="back-item-checkbox-class" (click)="checkSelectedStatus(i)"></ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-grid> 
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>