<ion-content [fullscreen]="true">

  <div class="img-container"><img [src]=logoImg alt="img" /></div>

  <div class="loginBox">
    <div class="loginContainer">
      <!-- <div class="logoname">{{name}}</div> -->

      <div *ngIf="setLoginInfo.forgotPwd">
        <div class="fieldDesigns">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon name="person"></ion-icon>
            </ion-col>
            <ion-col size="9">
              <ion-input type="text" placeholder="User name" [(ngModel)]="currentUser"></ion-input>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </div>
        <div class="loginSubmit">
          <div class="loginBtn">
            <ion-fab-button color='warning' (click)="doLogin()">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </div>

      <div *ngIf="setLoginInfo.logincheck">
        <div class="fieldDesigns">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon name="person"></ion-icon>
            </ion-col>
            <ion-col size="9">
              <ion-input type="text" placeholder="User name" [(ngModel)]="setUserInfo.username"></ion-input>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </div>
        <div class="fieldDesigns">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon name="lock-closed"></ion-icon>
            </ion-col>
            <ion-col size="9">
              <ion-input type="password" placeholder="Password" [(ngModel)]="setUserInfo.password"></ion-input>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </div>
        <ion-row class="ion-align-items-center">
          <ion-col size="3"></ion-col>
          <ion-col size="6" class="colFontSize">Forgot Password</ion-col>
          <ion-col size="3"></ion-col>
        </ion-row>
        <div class="loginSubmit">
          <div class="loginBtn">
            <ion-fab-button color='warning' (click)="doLogin()">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </div>

      <div *ngIf="setLoginInfo.loginpin">
        <div class="fieldDesigns">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon name="lock-closed"></ion-icon>
            </ion-col>
            <ion-col size="9">
              <ion-input type="password" placeholder="Set new PIN" maxlength="4" [(ngModel)]="setPinInfo.pina"></ion-input>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </div>
        <div class="fieldDesigns">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon name="lock-closed"></ion-icon>
            </ion-col>
            <ion-col size="9">
              <ion-input type="password" placeholder="Confirm PIN" maxlength="4" [(ngModel)]="setPinInfo.pinb"></ion-input>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </div>
        <div class="loginSubmit">
          <div class="loginBtn">
            <ion-fab-button color='warning' (click)="setPin()">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </div>


      <div *ngIf="setLoginInfo.loginset">
        <div class="fieldDesigns">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon name="lock-closed"></ion-icon>
            </ion-col>
            <ion-col size="9">
              <ion-input type="password" placeholder="Enter PIN" maxlength="4" [(ngModel)]="pin"></ion-input>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </div>

        <div class="loginSubmit">
          <div class="loginBtn">
            <ion-fab-button color='warning' (click)="login()">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <span class='logochange' [routerLink]="['/setting/logo', {'logoicon': 'home'}]"><ion-icon name="settings" class="setting"></ion-icon></span>

  <!-- <div class="settings" (click)="settings()">
    <ion-icon name="person"></ion-icon> settings</div> -->
</ion-footer>