<div class="container">    
    
        <venus-simpletitlecontainer [title]="'Citizen Login'">
            <form>
    
                 <div class="form-group">
                        <label for="kyc">Enter Your Name</label>
                      
                            <input name="username" type="text" class="form-control" [(ngModel)]="username">
                            {{username}}

                            <!-- Structural Directive  ngIf , ngFor -->
                            <!-- Attribute directive and structural directive  -->

                 </div>
    
                 <div class="form-group">
                        <label for="kyc">Enter Any KYC</label>
                      
                            <input type="text" class="form-control">
    
                 </div>
    
                <!-- <venusbutton [color]="'green'" [corner]="'round'">
                    Submit
                </venusbutton>
                -->
                <venusbutton [color]="'red'" [cornor]="'flat'">
                        Apply
                </venusbutton>
            </form>
            
        </venus-simpletitlecontainer>

        <!-- ngIf  -->

         <!-- <h1 *ngIf=" name == " >Hello Admin</h1> 
         <h1 *ngIf=" name == 'citizen'">Hello Citizen</h1> -->

        <div *ngIf="name=='admin'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>Content to render when condition is true.</ng-template>
        <ng-template #elseBlock>Content to render when condition is false.</ng-template>
         
        <div *ngIf="name=='admin'; else elseBlock">Admin</div>
        <ng-template #elseBlock>You are not Admin.</ng-template>

        <div *ngFor="let item of items; let i=index;">
            {{i+1}} . {{item}}
        </div>

        
       
    
    </div>