<ion-content [fullscreen]="true">

  <div class="img-container"><img [src]=logoImg alt="img" /></div>

  <div class="loginBox">
    <div class="loginContainer">
      <!-- <div class="logoname">{{name}}</div> -->

      <div *ngIf="setLoginInfo.forgotPwd">
        <div class="fieldDesigns">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon name="person"></ion-icon>
            </ion-col>
            <ion-col size="9">
              <ion-input type="text" [placeholder]="'User name' | translate" [(ngModel)]="currentUser"></ion-input>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </div>
        <div class="loginSubmit">
          <div class="loginBtn">
            <ion-fab-button color='warning' (click)="doLogin()">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </div>

      <div *ngIf="setLoginInfo.logincheck">
        <div class="fieldDesigns">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon name="person"></ion-icon>
            </ion-col>
            <ion-col size="9">
              <ion-input type="text" [placeholder]="'placeholder.username'|translate"
                [(ngModel)]="setUserInfo.username"></ion-input>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </div>
        <div class="fieldDesigns">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon name="lock-closed"></ion-icon>
            </ion-col>
            <ion-col size="8">
              <ion-input [type]="inputType" [placeholder]="'placeholder.password'| translate"
                [(ngModel)]="setUserInfo.password"></ion-input>
            </ion-col>
            <ion-col size="2" class="ion-text-center eyeIconSize" (click)="inputChng()">
              <ion-icon name="eye" *ngIf="inputType == 'password'"></ion-icon>
              <ion-icon name="eye-off" *ngIf="inputType != 'password'"></ion-icon>
            </ion-col>
          </ion-row>
        </div>

        <div class="ion-text-end colFontSize">{{"Forgot Password" | translate}}</div>


        <div class="loginSubmit">
          <div class="loginBtn">
            <ion-fab-button color='warning' (click)="doLogin()">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </div>

      <div *ngIf="setLoginInfo.loginpin">
        <div class="fieldDesigns">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon name="lock-closed"></ion-icon>
            </ion-col>
            <ion-col size="8">
              <ion-input [type]="pinInputType" [placeholder]="'Set new PIN' | translate" maxlength="4"
                [(ngModel)]="setPinInfo.pina">
              </ion-input>
            </ion-col>
            <ion-col size="2" class="ion-text-center eyeIconSize" (click)="pinInputChng()">
              <ion-icon name="eye" *ngIf="pinInputType == 'password'"></ion-icon>
              <ion-icon name="eye-off" *ngIf="pinInputType != 'password'"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
        <div class="fieldDesigns">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon name="lock-closed"></ion-icon>
            </ion-col>
            <ion-col size="8">
              <ion-input [type]="pinInputType" [placeholder]="'Confirm PIN' | translate" maxlength="4"
                [(ngModel)]="setPinInfo.pinb">
              </ion-input>
            </ion-col>
            <ion-col size="2" class="ion-text-center eyeIconSize" (click)="pinInputChng()">
              <ion-icon name="eye" *ngIf="pinInputType == 'password'"></ion-icon>
              <ion-icon name="eye-off" *ngIf="pinInputType != 'password'"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
        <div class="loginSubmit">
          <div class="loginBtn">
            <ion-fab-button color='warning' (click)="setPin()">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </div>


      <div *ngIf="setLoginInfo.loginset">
        <div class="fieldDesigns">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon name="lock-closed"></ion-icon>
            </ion-col>
            <ion-col size="8">
              <ion-input [type]="pinInputType" [placeholder]="'Enter PIN' | translate" maxlength="4" [(ngModel)]="pin">
              </ion-input>
            </ion-col>
            <ion-col size="2" class="ion-text-center eyeIconSize" (click)="pinInputChng()">
              <ion-icon name="eye" *ngIf="pinInputType == 'password'"></ion-icon>
              <ion-icon name="eye-off" *ngIf="pinInputType != 'password'"></ion-icon>
            </ion-col>
          </ion-row>
        </div>

        <div class="loginSubmit">
          <div class="loginBtn">
            <ion-fab-button color='warning' (click)="login()">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <span class='logochange' [routerLink]="['/setting']" *ngIf="setting">
    <ion-icon name="settings" class="setting"></ion-icon>
  </span>

  <!-- <div class="settings" (click)="settings()">
    <ion-icon name="person"></ion-icon> settings</div> -->
</ion-footer>