ion-content{
  height: 100vh;
}
.img-container, .loginBox {
  width: 100vw;
  height: auto;
  text-align: center;
}

.img-container img{
  width: 80vw;
  height: auto;
  margin: 10vh auto 5vh auto;
}
.loginBox .loginContainer{
  width: 95vw;
  height: auto;
  margin: auto;
  padding: 32px 16px;
  background: #FFF;
  border-radius: 20px;
}
.loginBox .loginContainer .logoname {
  text-decoration: underline;
  text-transform: uppercase;
  color: #303578 !important;
  font-weight: bold;
}
.fieldDesigns{
  border: solid thin #c9c9c9;
  padding: 0px;
  text-align: left;
  border-radius: 20px;
  margin: 10px auto;
}
.loginSubmit{
  width: 8.3vh;
  // height: 10vh;
  margin: auto;
}
.loginSubmit .loginBtn{
  background: #FFF;
  width: 8.3vh;
  height: 8.3vh;
  position: absolute;
  border-radius: 50%;
}
.colFontSize{
  font-size: 80%;
}

.settings {
  text-transform: uppercase;
  text-align: center;
  font-size: 80%;
}
.logochange {
  position: absolute;
  right: 4px;
  top: -21px;
  zoom: 2.0;
}
.eyeIconSize{
  zoom: 1.5;
}

// @media only screen and (max-width: 413px) {
//   .loginContainer {
//     width: 95vw;
//   }
// }

@media only screen and (min-width: 413px) {
  .loginBox .loginContainer {
    width: 75vw;
  }
  .loginBtn ion-fab-button {
    margin-left: 8px;
    margin-top: 5px;
  
  }
  .loginSubmit .loginBtn{
    width: 7.6vh;
    height: 7.4vh;
    
  }
}
