<ion-header>
  <ion-toolbar>
    <img style='float: right' src="assets/imgs/almasrafLogo.png" alt="" id="logo" text-end>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="img-container"><img [src]=logoImg alt=""></div>

  <div style="position: absolute;  top: 70px;  right: 10px;">
    <ion-item>
      <ion-select (ionChange)="logoChange($event.target.value)" style='max-width: 100%; padding: 0px;' placeholder="Select Logo"
        interface="popover">
        <ion-select-option value="abudhabi">abudhabi</ion-select-option>
        <ion-select-option value="profile">profile</ion-select-option>
        <ion-select-option value="round_headshot">round_headshot</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="logininfo">
    <div class="logoname">{{name}}</div>
    <div class="logindata" *ngIf="setLoginInfo.logincheck">
      <ion-item class="loginInput">
        <ion-label position="floating">
          <ion-icon name="person" class="loginIcon"></ion-icon>User Name
        </ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item class="loginInput">
        <ion-label position="floating">
          <ion-icon name="lock" class="loginIcon"></ion-icon>Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button color="logo" (click)="doLogin()">Login</ion-button>
    </div>

    <div class="logindata" *ngIf="setLoginInfo.loginset">
      <ion-item class="loginInput">
        <ion-label position="floating">
          <ion-icon name="unlock" class="loginIcon"></ion-icon>Enter PIN
        </ion-label>
        <ion-input type="password" [(ngModel)]="pin" maxlength="4"></ion-input>
      </ion-item>
      <ion-button color="logo" (click)="login()">Login</ion-button>
    </div>

    <div class="logindata" *ngIf="setLoginInfo.loginpin">
      <ion-item class="loginInput">
        <ion-label position="floating">
          <ion-icon name="unlock" class="loginIcon"></ion-icon>Set new PIN
        </ion-label>
        <ion-input type="password" maxlength="4" [(ngModel)]="pina"></ion-input>
      </ion-item>
      <ion-item class="loginInput">
        <ion-label position="floating">
          <ion-icon name="unlock" class="loginIcon"></ion-icon>Confirm PIN
        </ion-label>
        <ion-input type="password" maxlength="4" [(ngModel)]="pinb"></ion-input>
      </ion-item>
      <ion-button color="logo" (click)="setPin()">Continue</ion-button>
    </div>

  </div>

</ion-content>