.progress {
    position: relative;
    width: 150px;
    margin: 0 auto;
  }
  
  .progress__value-text {
    position: absolute;
    top: 48px;
    left: 45px;
    font-size: 20px;
  }
  
  .progress__svg {
    transform: rotate(-90deg);
  }
  
  
  .progress__meter,
  .progress__value {
    fill: none;
  }
  
  .progress__meter {
    stroke: #ccc;
  }
  
  .progress__value {
    stroke: #4CAF50;
    transition: all 100ms;
  }




  svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s .35s ease-in-out forwards;
      animation: dash .9s .35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      animation: dash-check .9s .35s ease-in-out forwards;
    }
  }
           
  p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
    &.success {
      color: #73AF55;
    }
    &.error {
      color: #D06079;
    }
  }
  
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}
.progress_box {
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    z-index: 100;
    transform: translate(-50%, -50%);
    width: 70vw;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    border-radius: 20px;
}

.close_icon{
  font-size: 36px;
  position: absolute;
  right: 0px;
}

ion-badge{
  font-size: 20px;
}

ion-button{
  margin: 0 auto;
}

.uploadIcon{
  position: absolute;
    top: 62px;
    left: 0px;
    right: 0px;
    width: 90%;
    font-size: 26px;
    color:green;
}