.progress {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.progress > ion-progress-bar {
    flex: 1;
}
.progress > ion-badge {
    flex: 0.2;
    margin-left: 20px;
}

.container{
    display: grid;
    grid-template-columns: auto;
}