<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-icon name="close-circle" slot="end" (click)="closePopover()"></ion-icon>
    <ion-title class="heading">{{pageHeader}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>

  <div class="header">
    <div class="subhead">
      <ion-icon name="briefcase"></ion-icon> <span>Company Name</span>
      <div class="text">Bajaj Insurance</div>
    </div>
    <div class="subhead">
      <ion-icon name="calendar"></ion-icon> <span>Date of issue</span>
      <div class="text">25/08/2020</div>
    </div>
  </div>
  <div class="header">
    <div class="subhead">
      <ion-icon name="locate"></ion-icon> <span>Branch</span>
      <div class="text">Guindy</div>
    </div>
    <div class="subhead">
      <ion-icon name="cash"></ion-icon> <span>Annual Premium</span>
      <div class="text">2, 22, 000</div>
    </div>
  </div>


</ion-card>





<div *ngIf="referenceShow">
  <ion-card class="card_content" *ngFor="let record of referenceDetails;let i = index;">
    <!-- <ion-card-header color="danger">
    <ion-card-title>Reference Detail {{i+1}} <ion-icon class="edit_btn" name="create" (click)="editConcern(record)"></ion-icon></ion-card-title>
    </ion-card-header> -->
    <!-- <ion-list>
    <ion-item style="border-bottom: 1px solid red;"> -->
    <div style="float: left;width: 40%;">
      <div class="text-caption">
        <span><ion-icon name="person"></ion-icon></span>
        <span class="label_content">Name</span>
      </div>
      <div class="text-detail" text-wrap>{{ record.name }}</div>

      <!-- </ion-item>
    <ion-item style="border-bottom: 1px solid red;"> -->
      <div class="text-caption">
        <span class="icon_content"><ion-icon name="briefcase"></ion-icon></span>
        <span class="label_content">Occupation</span>

      </div>
      <div class="text-detail" text-wrap>{{ record.occupation }}</div>
    </div>

    <!-- </ion-item>
    <ion-item style="border-bottom: 1px solid red;"> -->
    <div style="float:right;width: 60%;">
      <div class="text-caption">
        <span class="icon_content"><ion-icon name="location"></ion-icon></span>
        <span class="label_content">Address</span>

      </div>
      <div class="text-detail" text-wrap>{{ record.address }}</div>

      <div class="text-caption">
        <span class="icon_content"><ion-icon name="call"></ion-icon></span>
        <span class="label_content">Mobile No.</span>

      </div>
      <div class="text-detail" text-wrap>{{ record.mobileNo }}</div>
    </div>
    <!-- </ion-item>
  </ion-list> -->
    <!-- <ion-grid style="position: relative;top: 20px;">
<ion-row>
  <ion-col size="1">
    <div class="text-caption">
      <span><ion-icon name="business"></ion-icon></span>
      </div>
  </ion-col>
  <ion-col>
    <div class="text-caption">
    <span>Concern Name</span>
    </div>
  </ion-col>
</ion-row>
<ion-row>
      <ion-col>
    <div class="text-detail" text-wrap>{{ record.nameofAssCon }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
        <div class="text-caption">
          <span><ion-icon name="bookmarks"></ion-icon></span>
          </div>
      </ion-col>
      <ion-col>
        <div class="text-caption">
        <span>Constitution</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
          <ion-col>
        <div class="text-detail" text-wrap>{{ record.constitution }}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
            <div class="text-caption">
              <span><ion-icon name="location"></ion-icon></span>
              </div>
          </ion-col>
          <ion-col>
            <div class="text-caption">
            <span>Address</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
              <ion-col>
            <div class="text-detail" text-wrap>{{ record.addOfAssCon }}</div>
              </ion-col>
            </ion-row>
  </ion-grid> -->
  </ion-card>
</div>



<div *ngIf="assetImmoveShow">
  <ion-card class="card_content" *ngFor="let record of assetImmovableDetails;let i = index;">
    <!-- <ion-card-header color="danger">
      <ion-card-title>Reference Detail {{i+1}} <ion-icon class="edit_btn" name="create" (click)="editConcern(record)"></ion-icon></ion-card-title>
      </ion-card-header> -->
    <!-- <ion-list>
      <ion-item style="border-bottom: 1px solid red;"> -->
    <div style="float: left;width: 40%;">
      <div class="text-caption">
        <span><ion-icon name="map"></ion-icon></span>
        <span class="label_content">Asset Type</span>
      </div>
      <div class="text-detail" text-wrap>{{ record.assetType }}</div>

      <!-- </ion-item>
      <ion-item style="border-bottom: 1px solid red;"> -->
      <div class="text-caption">
        <span class="icon_content"><ion-icon name="person"></ion-icon></span>
        <span class="label_content">Name</span>

      </div>
      <div class="text-detail" text-wrap>{{ record.name }}</div>
    </div>

    <!-- </ion-item>
      <ion-item style="border-bottom: 1px solid red;"> -->
    <div style="float:right;width: 60%;">
      <div class="text-caption">
        <span class="icon_content"><ion-icon name="golf"></ion-icon></span>
        <span class="label_content">Area</span>

      </div>
      <div class="text-detail" text-wrap>{{ record.area }}</div>

      <div class="text-caption">
        <span class="icon_content"><ion-icon name="location"></ion-icon></span>
        <span class="label_content">Address</span>

      </div>
      <div class="text-detail" text-wrap>{{ record.address }}</div>

    </div>
  </ion-card>
</div>


<div *ngIf="insurancePolicyShow">
  <ion-card class="card_content" *ngFor="let record of insurancePolicyDetails;let i = index;">
    <!-- <ion-card-header color="danger">
        <ion-card-title>Reference Detail {{i+1}} <ion-icon class="edit_btn" name="create" (click)="editConcern(record)"></ion-icon></ion-card-title>
        </ion-card-header> -->
    <!-- <ion-list>
        <ion-item style="border-bottom: 1px solid red;"> -->
    <div style="float: left;width: 40%;">
      <div class="text-caption">
        <span><ion-icon name="briefcase"></ion-icon></span>
        <span class="label_content">Company Name</span>
      </div>
      <div class="text-detail" text-wrap>{{ record.companyName }}</div>

      <!-- </ion-item>
        <ion-item style="border-bottom: 1px solid red;"> -->
      <div class="text-caption">
        <span class="icon_content"><ion-icon name="locate"></ion-icon></span>
        <span class="label_content">Branch</span>

      </div>
      <div class="text-detail" text-wrap>{{ record.branch }}</div>
    </div>

    <!-- </ion-item>
        <ion-item style="border-bottom: 1px solid red;"> -->
    <div style="float:right;width: 60%;">
      <div class="text-caption">
        <span class="icon_content"><ion-icon name="calendar"></ion-icon></span>
        <span class="label_content">Date of issue</span>

      </div>
      <div class="text-detail" text-wrap>{{ record.DOI }}</div>

      <div class="text-caption">
        <span class="icon_content"><ion-icon name="cash"></ion-icon></span>
        <span class="label_content">Annual premium</span>

      </div>
      <div class="text-detail" text-wrap>{{ record.annualPre }}</div>

    </div>
  </ion-card>
</div>



<div *ngIf="groupConcernShow">
  <ion-card class="card_content" *ngFor="let record of groupConcernDetails;let i = index;">
    <!-- <ion-card-header color="danger">
          <ion-card-title>Reference Detail {{i+1}} <ion-icon class="edit_btn" name="create" (click)="editConcern(record)"></ion-icon></ion-card-title>
          </ion-card-header> -->
    <!-- <ion-list>
          <ion-item style="border-bottom: 1px solid red;"> -->
    <div style="float: left;width: 40%;">
      <div class="text-caption">
        <span><ion-icon name="briefcase"></ion-icon></span>
        <span class="label_content">Concern Name</span>
      </div>
      <div class="text-detail" text-wrap>{{ record.name }}</div>

      <!-- </ion-item>
          <ion-item style="border-bottom: 1px solid red;"> -->
      <div class="text-caption">
        <span class="icon_content"><ion-icon name="locate"></ion-icon></span>
        <span class="label_content">Constitution</span>

      </div>
      <div class="text-detail" text-wrap>{{ record.constitution }}</div>
    </div>

    <!-- </ion-item>
          <ion-item style="border-bottom: 1px solid red;"> -->
    <div style="float:right;width: 60%;">
      <div class="text-caption">
        <span class="icon_content"><ion-icon name="calendar"></ion-icon></span>
        <span class="label_content">Address of Concern</span>

      </div>
      <div class="text-detail" text-wrap>{{ record.addOfAssCon }}</div>



    </div>
  </ion-card>
</div>