<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title class="heading">Bureau Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="breauhead">Attach Bureau Consent
    <span class="document">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-icon name="eye-outline"></ion-icon>
    </span>
  </div>



  <div class="bureau">
    <div class="bureauscore"><ion-icon name="speedometer"></ion-icon></div>
    <div class="bureauapp"><span class="appid">Applicant <br/>Lead ID</span> <br/> <span class="appscore">96697</span></div>

  </div>


  <div class="bureaureport">
    <ion-card>
      <ion-icon name="document-outline"></ion-icon><br/> <span>Bureau Report</span>
    </ion-card>
    <ion-card>
      <ion-icon name="create-outline"></ion-icon><br/> <span>AML Score</span> <span class="amlscore">0.79</span>
    </ion-card>
  </div>




  <div class="item remark">
    <ion-item>
      <ion-label position="floating">REMARKS </ion-label>
      <ion-input type="text" maxlength="30"></ion-input>
    </ion-item>
  </div>

  <div class="process">
    <ion-button type="button" shape="round">Proceed</ion-button>
    <ion-button type="button" shape="round">Hold</ion-button>
    <ion-button type="button" shape="round">Reject</ion-button>
  </div>




</ion-content>
