<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>New Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="container">
      <div class="item">
          <div class="listbox">
            <ion-icon name="person"></ion-icon>
            <ion-label (click)="borrowerDetails()">Borrower Details</ion-label>
          </div>
      </div>
      <div class="item">
          <div class="listbox">
            <ion-icon name="person-add"></ion-icon>
            <ion-label (click)="openPromotorDetails()">Promotor Details</ion-label>
          </div>
      </div>
      <div class="item">
          <div class="listbox">
            <ion-icon name="people"></ion-icon>
            <ion-label (click)="openGurantorDetails()">Gurantor Details</ion-label>
          </div>
      </div>
      <div class="item">
          <div class="listbox">
            <ion-icon name="document-text"></ion-icon>
            <ion-label (click)="openOtherDocuments()">Other Documents</ion-label>
          </div>
      </div>
      <div class="item">
          <div class="listbox">
            <ion-icon name="people-circle"></ion-icon>
            <ion-label (click)="additionalDetails()">Additional Details</ion-label>
          </div>
      </div>
      <div class="item">
          <div class="listbox">
            <ion-icon name="trail-sign"></ion-icon>
            <ion-label (click)="openReallocation()">Reallocation</ion-label>
          </div>
      </div>
      <div class="item">
          <div class="listbox">
            <ion-icon name="shield-checkmark"></ion-icon>
            <ion-label (click)="openCheckEligibility()">Check Eligibility</ion-label>
          </div>
      </div>
      <div class="item">
          <div class="listbox">
            <ion-icon name="cloud-upload"></ion-icon>
            <ion-label (click)="fiscreenDetails(fiscreen.method, fiscreen.label)">Submit</ion-label>
          </div>
      </div>
    </div> -->
  <ion-list>
    <ion-item>
        <div class="listbox">
          <ion-icon name="person"></ion-icon>
          <ion-label (click)="borrowerDetails()">Borrower Details</ion-label>
        </div>
    </ion-item>
    <ion-item>
        <div class="listbox">
          <ion-icon name="person-add"></ion-icon>
          <ion-label (click)="openPromotorDetails()">Promotor Details</ion-label>
        </div>
    </ion-item>
    <ion-item>
        <div class="listbox">
          <ion-icon name="people"></ion-icon>
          <ion-label (click)="openGurantorDetails()">Guarantor Details</ion-label>
        </div>
    </ion-item>
    <ion-item>
        <div class="listbox">
          <ion-icon name="document-text"></ion-icon>
          <ion-label (click)="openOtherDocuments()">Other Documents</ion-label>
        </div>
    </ion-item>
    <ion-item>
        <div class="listbox">
          <ion-icon name="people-circle"></ion-icon>
          <ion-label (click)="additionalDetails()">Additional Details</ion-label>
        </div>
    </ion-item>
    <ion-item>
        <div class="listbox">
          <ion-icon name="trail-sign"></ion-icon>
          <ion-label (click)="openReallocation()">Reallocation</ion-label>
        </div>
    </ion-item>
    <ion-item>
        <div class="listbox">
          <ion-icon name="shield-checkmark"></ion-icon>
          <ion-label (click)="openCheckEligibility()">Check Eligibility</ion-label>
        </div>
    </ion-item>
    <ion-item>
        <div class="listbox">
          <ion-icon name="cloud-upload"></ion-icon>
          <ion-label (click)="submit()">Submit</ion-label>
        </div>
    </ion-item>
  </ion-list>

</ion-content>

<!-- <ion-footer>
  <ion-toolbar style="text-align:left;">
    <ion-button size="small" (click)="goBack()">BACK</ion-button>
    
  </ion-toolbar>
</ion-footer> -->
